#logo {
	width: 240px;
	height: 80px;
	background: #4aaaa5;
	text-align: center;
	line-height: 80px;
	color: #fff;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: #333;
  text-align: center;
  color: #777;
  font-size: 12px;
  max-width: 100%;
}

#footer-line {
	position: relative;
	height: 20px;
	max-width: 100%;
	background: #4aaaa5;
}